{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category list</h1>
<div><a class="btn btn-success" href="{{ path('category_new') }}">Create a new Category</a></div>

<table class="table table-striped">
        <thead>
            <tr>
                <th>Created Date</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{% if category.createdAt %}{{ category.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ category.name }}</td>
                <td>{% if category.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div>
                            <a class="btn btn-primary" href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                            <a class="btn btn-warning"  href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
