{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catalogue list</h1>
<div><a class="btn btn-success" href="{{ path('catalogue_new') }}">Create a new Catelogue</a></div>

<table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Isbn</th>
                <th>Cataloguetype</th>
                <td>Image</td>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td>{{ catalogue.title }}</td>
                <td>{{ catalogue.isbn }}</td>
                <td>{{ catalogue.catalogueType }}</td>
                <td>{% if catalogue.attachmentThumb %}<img width="50" src="{{ asset(catalogue.attachmentThumb) }}" class="img-responsive" /> {% else %} -- {% endif %}</td>
                <td>{% if catalogue.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div>
                            <a class="btn btn-primary" href="{{ path('catalogue_show', { 'id': catalogue.id }) }}">show</a>
                            <a class="btn btn-warning"  href="{{ path('catalogue_edit', { 'id': catalogue.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
